
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - ENC 3241 Portfolio</title>
  style.css
</head>
<body>
  <nav>
    <a>index.htmlHome</a>
    <a>resume.htmlResume</a>
    <a>coverletter.htmlCover Letter</a>
    <a>instructions.htmlInstructions</a>
    <a>proposal.htmlProposal</a>
  </nav>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>ENC 3241 - Spring 2026</p>
  </footer>
</body>
